.container{
    position: fixed;
    bottom: 0;
    left: 44%;
    height: 45px;
    border-radius: 20px 20px 0 0;
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button{
    border:none;
    margin: 0 auto;
    padding: 4px 10px;
    border-radius: 20px;
    font-weight:bold;
    font-size: 17px;
    color: var(--color-primary);
    user-select: none;
}
.button:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}
.button:disabled{
    color: var(--color-primary);
    cursor: auto;
}
.button:disabled:hover{
    background-color: transparent;
    color: var(--color-primary);
    cursor: auto;
}
.input{
    width:20px;
    border-radius:5px;
    border: 1px solid var(--color-primary);
    padding: 3px;
    font-size: 17px;
}
